/* src/pages/HowstheDog.css */
.howstheDog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004d80; /* Consistent darker blue background */
  text-align: center;
  padding: 20px;
  position: relative;
  flex-direction: column;
}

.coming-soon {
  text-align: center;
  padding: 40px; /* Increased padding for a larger box */
  border: 3px dashed #61dafb; /* Thicker border for emphasis */
  border-radius: 15px; /* Rounded corners */
  background: #ffffff; /* White background for the content box */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow for more depth */
  max-width: 600px; /* Max width to control the size on larger screens */
  width: 80%; /* Responsive width */
}

.hero-title {
  font-size: 3em; /* Larger font size for title */
  color: #61dafb; /* Theme color */
}

.hero-description {
  font-size: 1.5rem; /* Larger font size for description */
  color: #282c34;
  margin-bottom: 20px;
}
